@font-face {
    font-family: 'Barlow-Black';
    src: url('../fonts/Barlow-Black.ttf');
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../fonts/Barlow-Bold.ttf');
}

@font-face {
    font-family: 'Barlow-Light';
    src: url('../fonts/Barlow-Light.ttf');
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('../fonts/Barlow-Medium.ttf');
}