@import './fonts.scss';

$fontBarBlack: 'Barlow-Black';
$fontBarBold: 'Barlow-Bold';
$fontBarLight: 'Barlow-Light';
$fontBarMedium: 'Bar-Medium';

$colorFontHeader: #DC1825;
$colorFontTitle: #DA393E;
$colorFontText: #494949; 